<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INA226</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/live">Live</a>
        <a href="/search">Search</a>
    </div>
    <div class="dashboard-container">
        <section class="search-container">
            <form class="search" action = "/getData" method = "GET">
                <select class="sensorName" name="sensorName" required>
                    <option value="INA1">INA1</option>
                    <option value="INA2">INA2</option>
                    <option value="INA3">INA3</option>
                    <option value="INA4">INA4</option>
                    <option value="INA5">INA5</option>
                </select>
                <input type="datetime-local" name="startDate" required>
                <input type="datetime-local" name="endDate" required>
                <input type = "submit" value = "Search" />
            </form>
        </section>
        <section class="chart-container">
            <h1 class="chart-title"> {{ sensor | safe }}</h1>
            <canvas class="chart-canvas" id="inaChart" width="" height=""></canvas>
            <script>
                var ctx = document.getElementById("inaChart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ dates | safe }},
                        datasets: [
                            {
                                label: "Amps",
                                data: {{ amps | safe }},
                                fill: false,
                                borderColor: "rgb(255,255,0)",
                                lineTension: 0.5
                            },
                            {
                                label: "Volts",
                                data: {{ volts | safe }},
                                fill: false,
                                borderColor: "rgb(255,0,0)",
                                lineTension: 0.5
                            },
                            {
                                label: "Pow",
                                data: {{ pow | safe }},
                                fill: false,
                                borderColor: "rgb(0,0,255)",
                                lineTension: 0.5
                            }
                        ]
                    },
                    options: {
                        responsive: true
                    }
                });
            </script>
        </section>
        <section class="temp-container">
            <div class="temp-item" id="temp-sens1">
                <h2>Temp 1</h2>
                <p id="temp1">-- ºC</p>
            </div>
            <div class="temp-item" id="temp-sens2">
                <h2>Temp 2</h2>
                <p id="temp2">-- ºC</p>
            </div>
            <div class="temp-item" id="temp-sens3">
                <h2>Temp 3</h2>
                <p id="temp3">-- ºC</p>
            </div>
        </section>
    </div>
    <script src="{{ url_for('static', filename='scripts/temperatures.js') }}"></script>
</body>
</html>