<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG-DASHBOARD</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/live">Live</a>
        <a href="/search">Search</a>
    </div>
    <div class="dashboard-container">
        <section class="search-container">
            <form class="search" id="dataForm">
                <select class="sensorName" name="sensorName" required>
                    <option value="INA1">BUS_24V</option>
                    <option value="INA2">BUS_24V_AUX</option>
                    <option value="INA3">BUS_12V</option>
                    <option value="INA4">BUS_19V</option>
                    <option value="INA5">BUS_5V</option>
                    <option value="BT">BODY_TEMPERATURES</option>
                    <option value="SBC">SB_CURRENTS</option>
                    <option value="SBT">SB_TEMPERATURES</option>
                </select>
                <input type="datetime-local" name="startDate" id="startDate" required>
                <input type="datetime-local" name="endDate" id="endDate" required>
                <button type="button" id="submitButton">Search</button>
            </form>
        </section>
        <section class="chart-container">
            <h1 class="chart-title" id="chartTitle"></h1>
            <canvas class="chart-canvas" id="searchChart" width="" height=""></canvas>
        </section>
    </div>
    <section class="log-container">
        <h1 class="log-container-title">LOGS SECTION</h1>
        <div class="log-feed" id="log-feed"></div>
    </section>
    <script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/temperatures.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/logs.js') }}"></script>
</body>
</html>